<h1>Exemples de requêtes sur les services</h1>

<ul>
    <li>{{#link-to "geocode" class="button"}}[Géocoder des adresses, toponymes et parcelles cadastrales](#geocode){{/link-to}}</li>
    <li>{{#link-to "autocomplete" class="button"}}[Obtenir des suggestions d'adresses ou de toponymes à partir de textes incomplets](#autocomplete){{/link-to}}</li>
    <li>{{#link-to "reversegeocode" class="button"}}[Obtenir des localisants (toponymes, adresses, parcelles cadastrales) proche d'une position donnée (géocodage inverse)](#reverseGeocode){{/link-to}}</li>
    <li>{{#link-to "alti" class="button"}}[Obtenir des altitudes en un ou plusieurs points ou calculer des profils altimétriques](#alti){{/link-to}}</li>
    <li>{{#link-to "route" class="button"}}[Calculer un itinéraire piéton ou routier](#route){{/link-to}}</li>
    <li>{{#link-to "isocurve" class="button"}}[Calculer des isochrones / isodistances autour d'un point](#isoCurve){{/link-to}}</li>
    <li>{{#link-to "getconfig" class="button"}}[Obtenir des informations relatives à un contrat d'accès au Géoportail](#getConfig){{/link-to}}</li>
</ul>

{{outlet}}